@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-input:focus {
    border-width: 2px;
    /* Border width on focus */
    border-color: black;
    /* Border color on focus */
    outline: none;
    /* Remove default outline */
}

.custom-input:focus {
    border-width: 2px;
    /* Border width on focus */
    border-color: black;
    /* Border color on focus */
    outline: none;
    /* Remove default outline */
}

/* Add this in your CSS file */
input[type="checkbox"]:checked {
    background-color: #CCCCCC;
    /* Change this to your desired green color */
    border-color: #CCCCCC;
    /* Optional: Match border color to the background */
}